#page-window {
  position: fixed;
  bottom: 0;
  right: -500px;
  width: 500px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: right 0.5s ease-in-out;
}

#page-window.open {
  right: 0;
}

#header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#header h2 {
  margin: 0;
}

#header button {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#page-content {
  width: 100%;
  height: calc(100% - 50px); /* subtract header height */
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
}
