    /* Styling for the iframe */
    #chatFrame {
      position: fixed;
      bottom: 50px;
      right: 5px;
      width: 400px;
      height: 500px;
      max-height: calc(100vh - 40px);
      background-color: white;
      border-radius: 4px;
      display: none;
      z-index: 999;
    }

    /* Styling for the chat button */
    #chatButton {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;
    }

    /* Media query for mobile devices */
    @media (max-width: 768px) {
      #chatFrame {
        bottom: 50px;
        right: 0;
        width: 100%;
        height: calc(100% - 50px);
        max-height: none;
        border-radius: 0;
      }
    }